@mixin flex ($justify: center, $direction: column, $alignI: flex-start) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $alignI;
}

@mixin button () {
  background-color: $navDark;
  border: 1px solid $navDark;
  color: $navWhite;
  cursor: pointer;
  font-family: $fontFamily;
  font-size: 18px;

  &:active {
    background-color: #595959
  }
};

@mixin titleFont() {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #030303;
  padding-top: 9.5px;
}

@mixin channelNameFont() {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
  padding-top: 8px;
}

@mixin regLogBtn($navDark) {
    display: inline-block;
    padding: .75rem 1.25rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $navDark;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #8d8d8d;
      transition: all .3s;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
}