@mixin flex ($justify: center, $direction: column, $alignI: flex-start) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $alignI;
}

@mixin button () {
  background-color: #363636;
  border: 1px solid #363636;
  color: $navWhite;
  cursor: pointer;
  font-family: $fontFamily;
  font-size: 16px;

  &:active {
    background-color: #595959
  }
};