@import "./src/assests/styles/index";

.videos-search-body {
  width: 100%;
  @include flex(center, column, center);
  & .videos-wrapper {
    @include flex(center, column, center);
    max-width: 1200px;
    margin-top: 20px;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    & .input-wrapper {
      height: 95px;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
      @include flex(center, column, center);
      & .input-search-btn {
        height: 100%;
        width: 130px;
        box-sizing: border-box;
        @include button;
      }

      & .search-input {
        width: 450px;
        height: 100%;
        background-color: transparent;
        font-size: 16px;
        border-radius: 15px;
        box-sizing: border-box;

        @media screen and (max-width: 480px) {
          width: 90%;
        }
      }

      & .search-input::placeholder {
        color: #363636;
      }
    }
  }
  & .videosList {
    max-width: 1200px;
  }
}