@import './src/assests/styles/index';

.regBody {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  font-family: $fontFamily;
  margin: 0 auto;
  @include flex(center, column, center);
  & .regTitle {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  & .loginReDir {
    color: $navDark;
    & a {
      color: $navDark;
      text-decoration: underline;
    }
  }
}