@import "./src/assests/styles/index";

.navBar-body {
  width: 100%;
  height: 50px;
  background-color: $navBlack;
  color: $navWhite;
  font-family: $fontFamily;
  @include flex(center, row, center);

  & .navBar-wrapper {
    width: 90%;
    height: 100%;

    & .navBar-row {
      @include flex(space-between, row, center);
      height: 100%;

      & .navBar-items {
        text-align: center;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        user-select: none;

        & .navBar-item-left {
          margin-right: 10px;
          &:active {
            border-bottom: 2px solid $navWhite;
          }
        }

        & .navBar-item-right {
          & .heart-icon {
            height: 15px;
            width: 15px;
          }
          &:active {
            border-bottom: 2px solid $navWhite;
          }
        }
      }

      & .login-out-wrapper {
        height: 100%;
        @include flex(center, row, center);
        & .login-out-button {
          height: 100%;
          width: 70px;
          @include button;
        }
      }
    }
  }
}
