@import './src/assests/styles/index';

.loginBody {
  width: 100%;
  max-width: 1200px;
  height: 92%;
  font-family: $fontFamily;
  margin: 0 auto;
  @include flex(center, column, center);
  & .loginTitle {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  & .loginReDir {
    color: $navDark;
    & a {
      color: $navDark;
      text-decoration: underline;
    }
  }
}