@import './src/assests/styles/index';

.formBody {
  width: 100%;
  @include flex(center, column, center);
  & .formWrapper {
    @include flex(center, column, center);
    @media screen and (max-width: 480px)  {
      width: 100%;
    }
    & .inputWrapper {
      width: 300px;
      @media screen and (max-width: 480px) {
        width: 95%;
      }
      & .inputTitle {

      }
      & .input {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 5px;
        border: none;
        border-bottom: 1px solid $navDark;
        outline: 2px solid transparent;
        font-size: 18px;

        &:focus {
          box-shadow: 0px 1px $navDark;
        }

        &::placeholder {
          color: $navDark;
          font-weight: 600;
        }

        @media screen and (max-width: 480px) {
          width: 95%;
        }
      }
    }
    & .submitBtn {
      margin-top: 10px;
      @include regLogBtn($navDark);
      cursor: pointer;
    }
  }
}


